/out/production/JA_01_Lambdas/my/lambdas/Client.class
/out/production/JA_01_Lambdas/my/lambdas/IntegerCollectionManager.class
/out/production/JA_01_Lambdas/my/lambdas/IntegerCollectionManager1.class
/out/production/JA_01_Lambdas/my/lambdas/IntegerCollectionManager2.class
/JA_01_Lambdas.iml
/.idea/misc.xml
/.idea/modules.xml
/out/production/JA_01_Lambdas/my/lambdas/TransformInteger.class
/.idea/vcs.xml
